body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.wrapper-user{
    display: flex;
}

.wrapper-user .sidebar {
    width: 300px;
    height: 100vh;
    background-color: #43555d;
    padding: 2rem;
    color: white;
    transition: width 0.5s;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
    z-index: 1;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper-user .sidebar.active {
    width: 120px;
}

.wrapper-user .sidebar h2 {
    color: #64B5F6;
}

.wrapper-user .sidebar ul {
    list-style-type: none;
    padding: 0;
}

.wrapper-user .sidebar li a {
    text-decoration: none;
    color: white;
}

.wrapper-user .sidebar li a:hover {
    background-color: #2196F3;
    color: white;
}


.wrapper-user .w_active {
    width: calc(100% - 120px);
}

.wrapper-user .w_none {
    width: calc(100% - 300px);
}

.wrapper-user .footer {
    background-color: #43555d;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
    transition: all 0.8s ease;
}

.wrapper-user #sidebar .logo {
    font-family: 'Varela Round', sans-serif;
    font-style: normal;
    color: #ffc600;
    margin-left: 10px;
    font-weight: bold;
    font-size: 21px;
}

.wrapper-user .jc-between {
    justify-content: space-between;
}

.wrapper-user .jc-center {
    justify-content: center;
}

.wrapper-user .pp-3 {
    padding: 3px 4px;
}

.wrapper-user .linha-tracejada {
    border: 1px dashed #ffc600;
    width: 100%;
    opacity: 1;
}

.wrapper-user .al-c {
    align-items: center;
}

.wrapper-user .navbar.navbar-expand.navbar-light.bg-white.topbar.static-top.shadow {
    border-radius: 8px;
  }

.py-75{
    padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important;
  }

  .h_cal{
    height: calc(100vh - 138px);
  }

  .navbar {
    --bs-navbar-padding-x: 1rem;
    --bs-navbar-padding-y: 0.5rem;
  }

  .img-profile.rounded-circle {
    width: 32px;
  }

  .logout{
    color: #D90032;
  }

  .perfil:hover , .logout:hover{
    color: #ffc600;
  }

  .wrapper-user .sidebar li a {
    background-color: transparent;
    color: #ffffff;
  }

  .wrapper-user .sidebar li a:hover {
    background-color: transparent;
    color: #ffc600;
  }

  .flex_start{    
  justify-content: flex-start;
  }