    @import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

    /* navbar */

    #mainNav {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        background-color: #43555d;
        transition: background-color 0.2s ease;
    }

    #mainNav .navbar-brand {
        font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-weight: 700;
        color: #212529;
    }

    #mainNav .navbar-nav .nav-item .nav-link {
        color: #ffc600;
        font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-weight: 700;
        font-size: 0.9rem;
        padding: 0.75rem 0;
    }

    #mainNav .navbar-nav .nav-item .nav-link:hover {
        color: #fff;
    }

    #mainNav .navbar-toggler {
        text-decoration: none;
        border: 0;
        color: #ffc600;
    }

    .navbar-toggler:active {
        box-shadow: none;
    }

    #mainNav .navbar-toggler:hover {
        text-decoration: none;
        border: 0;
        color: #fff;
    }

    @media (min-width: 992px) {
        #mainNav {
            box-shadow: none;
            background-color: transparent;
        }

        #mainNav .navbar-brand {
            color: #ffc600;
        }

        #mainNav .navbar-brand:hover {
            color: #fff;
        }

        #mainNav .navbar-nav .nav-item .nav-link {
            color: #ffc600;
            padding: 0 1rem;
        }

        #mainNav .navbar-nav .nav-item .nav-link:hover {
            color: #fff;
        }

        #mainNav .navbar-nav .nav-item:last-child .nav-link {
            padding-right: 0;
        }

        #mainNav.navbar-shrink {
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
            background-color: #43555d;
        }

        #mainNav.navbar-shrink .navbar-brand {
            color: #ffc600;
        }

        #mainNav.navbar-shrink .navbar-brand:hover {
            color: #fff;
        }

        #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link {
            color: #ffc600;
        }

        #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link:hover {
            color: #fff;
        }
    }

    #mainNav .logo {
        font-family: 'Varela Round', sans-serif;
        font-style: normal;
        color: #ffc600;
        margin-left: 10px;
        font-weight: bold;
        font-size: 21px;
    }

    #mainNav .navbar-nav {
        align-items: center;
    }


    .btn-outline-warning {
        border: 2px solid;
        font-weight: bold;
        --bs-btn-color: #ffc600;
        --bs-btn-border-color: #ffc600;
        --bs-btn-hover-color: #fff;
        --bs-btn-hover-bg: transparent;
        --bs-btn-hover-border-color: #ffffff;
        --bs-btn-focus-shadow-rgb: 255, 193, 7;
        --bs-btn-active-color: #fff;
        --bs-btn-active-bg: #ffc600;
        --bs-btn-active-border-color: #ffc600;
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-gradient: none;
    }

    .text-white {
        color: #fff;
    }

    /* header */
    header.masthead {
        padding-top: 10rem;
        padding-bottom: calc(10rem - 4.5rem);
        background: linear-gradient(rgba(67, 85, 93, 0.8) 0%, rgba(67, 85, 93, 0.8) 100%), url("../assets/image/235.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
    }

    header.masthead h1,
    header.masthead .h1 {
        font-size: 2.25rem;
    }

    header.masthead {
        height: 100vh;
        min-height: 40rem;
        padding-top: 4.5rem;
        padding-bottom: 0;
    }

    @media (min-width: 992px) {
        header.masthead {
            height: 100vh;
            min-height: 40rem;
            padding-top: 4.5rem;
            padding-bottom: 0;
        }

        header.masthead p {
            font-size: 1.15rem;
        }

        header.masthead h1,
        header.masthead .h1 {
            font-size: 3rem;
        }
    }

    @media (min-width: 1200px) {

        header.masthead h1,
        header.masthead .h1 {
            font-size: 3.5rem;
        }
    }

    /* Masthead */

    .masthead .h-bottons {
        justify-content: center;
    }

    .btn-yellow {
        border: 2px solid;
        font-weight: bold;
        --bs-btn-color: #ffc600;
        --bs-btn-bg: transparent;
        --bs-btn-border-color: #ffc600;
        --bs-btn-hover-color: #fff;
        --bs-btn-hover-bg: transparent;
        --bs-btn-hover-border-color: #fff;
        --bs-btn-focus-shadow-rgb: 49, 132, 253;
        --bs-btn-active-color: #43555d;
        --bs-btn-active-bg: transparent;
        --bs-btn-active-border-color: #43555d;
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    }

    /* tabs */
    .infos .nav-item {
        cursor: pointer;
        user-select: none;
    }

    #infos-content .text-content {
        background-color: #43555d;
    }

    .infos .nav-tabs .nav-link.active {
        color: #ffc600;
        background-color: #43555d;
        border-color: #43555d;
        width: 10rem;
    }

    .infos .nav-tabs .nav-link {
        color: #43555d;
        width: 10rem;
    }

    .infos .nav-tabs {
        overflow-x: auto;
        overflow-y: hidden;
        flex-wrap: nowrap;
    }

    .infos .nav-tabs .nav-link {
        white-space: nowrap;
    }

    ul#infos {
        border: 0;
    }

    /* sondagens */
    .sondagens .card-text{
        display: block;
        width: 100%;
        height: 8rem;
        overflow-y: scroll;
        scroll-behavior: smooth;
        scrollbar-width: thin;
        scrollbar-color: #ffc600 transparent;
      }


    /* sobre */
    .sobre .container .row {
        justify-content: center;
        background-color: #43555d;
    }

    .sobre img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

    /* team */
    .team .row {
        justify-content: center;
    }

    .team img.card-img-top {
        padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    }

    .card {
        box-shadow: 0 0.2rem 0.5rem #43555d;
        border: 2px solid #43555d;
        border-radius: 0;
        --bs-card-spacer-y: 2rem;
        --bs-card-spacer-x: 2rem;
    }

    .card-link.d-flex {
        justify-content: space-between;
    }

    .card-title {
        font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-weight: 700;
        color: #43555d;
    }

    /* Footer */
    #footer .widget a.d-flex {
        text-decoration: none;
        color: white;
    }

    #footer .widget a.d-flex:hover {
        color: #ffc600;
    }

    #footer .widget a.red_soc {
        color: #ffc600;
        text-decoration: none;
    }

    #footer .widget a.red_soc:hover {
        color: #fff;
    }

    .bg-footer {
        background-color: #43555d;
        color: #fff;
    }

    #textarea1 {
        height: 8rem;

    }

    /* padings e margins */

    @media (min-width: 992px) {
        .mr-lg-5 {
            padding-right: 4rem !important;
        }

        .ml-lg-5 {
            padding-left: 4rem !important;
        }
    }

    .p_lr {
        padding-left: 10px;
        padding-right: 10px;
    }

    .mw-2 {
        margin: 0px 20px;
    }

    .mg {
        margin: 80px 0px;
    }

    .p-0 {
        padding-left: 0;
    }

    .pr-0 {
        padding-right: 0;
    }

    .mr-5 {
        padding-right: 4rem !important;
    }

    .ml-5 {
        padding-left: 4rem !important;
    }

    .pl-1 {
        padding-left: 1rem;
    }

    .pr-1 {
        padding-right: 1rem;
    }

    .pl-0 {
        padding-left: 0;
    }

    .pr-0 {
        padding-right: 0;
    }

    .py-6 {
        padding: 5rem 0;
    }

    .justify-content-flex-end {
        justify-content: flex-end;
    }

    /* css geral */
    .text-black {
        color: #212529;
    }

    .card-title-yellow {
        color: #ffc600;
    }

    * {
        scrollbar-width: thin;
        scrollbar-color: #ffc600 transparent;
    }

    /* Works on Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
        width: 10px;
    }

    *::-webkit-scrollbar-track {
        background: #43555d;
    }

    *::-webkit-scrollbar-thumb {
        background-color: #888370;
        border-radius: 20px;
        border: 3px solid #43555d;
    }

    .sondagens::-webkit-scrollbar {
        width: 0px;
    }

    .sondagens::-webkit-scrollbar-track {
        background: transparent;
    }

    .sondagens::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 0px;
        border: 0px;
    }

    body {
        background-color: #43555d33;
    }

    @media (min-width: 992px) {
        .d-lg-flex-n {
            display: block;
        }

        .pl-lg-1 {
            padding-left: 1rem;
        }

        .pr-lg-1 {
            padding-right: 1rem;
        }

        * {
            scrollbar-width: thin;
            scrollbar-color: #ffc600 #43555d;
        }

        *::-webkit-scrollbar {
            width: 10px;
        }
    
        *::-webkit-scrollbar-track {
            background: #43555d;
        }
    
        *::-webkit-scrollbar-thumb {
            background-color: #888370;
            border-radius: 20px;
            border: 3px solid #43555d;
        }
    }

    @media (max-width: 992px) {
        #footer .widget.d-sm-flex .mb-5 {
            margin-right: 5rem;
        }
    }

    .btn-secondary {
        border: 2px solid;
        font-weight: bold;
        --bs-btn-hover-color: #43555d;
        --bs-btn-hover-bg: #ffc600;
        --bs-btn-hover-border-color: #ffc600;
        --bs-btn-focus-shadow-rgb: 49, 132, 253;
        --bs-btn-active-color: #43555d;
        --bs-btn-active-bg: #ffc600;
        --bs-btn-active-border-color: #ffc600;
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        color: #ffc600;
        border-color: #43555d;
        background-color: #43555d;
    }