    @import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
    

       
    /* navbar */

    #mainNav {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        background-color: #fff;
        transition: background-color 0.2s ease;
    }

    #mainNav .navbar-brand {
        font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-weight: 700;
        color: #212529;
    }

    #mainNav .navbar-nav .nav-item .nav-link {
        color: #6c757d;
        font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-weight: 700;
        font-size: 0.9rem;
        padding: 0.75rem 0;
    }

    @media (min-width: 992px) {
        #mainNav {
            box-shadow: none;
            background-color: transparent;
        }

        #mainNav .navbar-brand {
            color: #ffc600;
        }

        #mainNav .navbar-brand:hover {
            color: #fff;
        }

        #mainNav .navbar-nav .nav-item .nav-link {
            color: #ffc600;
            padding: 0 1rem;
        }

        #mainNav .navbar-nav .nav-item .nav-link:hover {
            color: #fff;
        }

        #mainNav .navbar-nav .nav-item:last-child .nav-link {
            padding-right: 0;
        }

        #mainNav.navbar-shrink {
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
            background-color: #43555d;
        }

        #mainNav.navbar-shrink .navbar-brand {
            color: #ffc600;
        }

        #mainNav.navbar-shrink .navbar-brand:hover {
            color: #fff;
        }

        #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link {
            color: #ffc600;
        }

        #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link:hover {
            color: #fff;
        }
    }

    #mainNav .logo {
        font-family: 'Varela Round', sans-serif;
        font-style: normal;
        color: #ffc600;
        margin-left: 10px;
        font-weight: bold;
        font-size: 21px;
    }

    #mainNav .navbar-nav {
        align-items: center;
    }

    .btn-outline-warning {
        border: 2px solid;
        font-weight: bold;
        --bs-btn-color: #ffc600;
        --bs-btn-border-color: #ffc600;
        --bs-btn-hover-color: #fff;
        --bs-btn-hover-bg: transparent;
        --bs-btn-hover-border-color: #ffffff;
        --bs-btn-focus-shadow-rgb: 255, 193, 7;
        --bs-btn-active-color: #fff;
        --bs-btn-active-bg: #ffc600;
        --bs-btn-active-border-color: #ffc600;
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-gradient: none;
    }

    .text-white {
        color: #fff;
    }

    /* header */
    header.masthead {
        padding-top: 10rem;
        padding-bottom: calc(10rem - 4.5rem);
        background: linear-gradient(rgba(67, 85, 93, 0.8) 0%, rgba(67, 85, 93, 0.8) 100%), url("../assets/image/235.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
    }

    header.masthead h1,
    header.masthead .h1 {
        font-size: 2.25rem;
    }

    @media (min-width: 992px) {
        header.masthead {
            height: 100vh;
            min-height: 40rem;
            padding-top: 4.5rem;
            padding-bottom: 0;
        }

        header.masthead p {
            font-size: 1.15rem;
        }

        header.masthead h1,
        header.masthead .h1 {
            font-size: 3rem;
        }
    }

    @media (min-width: 1200px) {

        header.masthead h1,
        header.masthead .h1 {
            font-size: 3.5rem;
        }
    }

    /* Masthead */

    .masthead .h-bottons {
        justify-content: center;
    }

    .btn-yellow {
        border: 2px solid;
        font-weight: bold;
        --bs-btn-color: #ffc600;
        --bs-btn-bg: transparent;
        --bs-btn-border-color: #ffc600;
        --bs-btn-hover-color: #fff;
        --bs-btn-hover-bg: transparent;
        --bs-btn-hover-border-color: #fff;
        --bs-btn-focus-shadow-rgb: 49, 132, 253;
        --bs-btn-active-color: #43555d;
        --bs-btn-active-bg: transparent;
        --bs-btn-active-border-color: #43555d;
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    }

    /* sobre */
    .sobre .container .row {
        justify-content: center;
        background-color: #43555d;
    }

    /* team */
    .team .row {
        justify-content: center;
    }

    .team img.card-img-top {
        padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    }

    /* Footer */

    .bg-footer {
        background-color: #43555d;
        color: #fff;
    }

    /* padings e margins */

    .p_lr {
        padding-left: 10px;
        padding-right: 10px;
    }

    .mw-2 {
        margin: 0px 20px;
    }

    .mg {
        margin: 80px 0px;
    }

    .p-0 {
        padding-left: 0;
    }

    .pr-0 {
        padding-right: 0;
    }

    /* css geral */
    .text-black {
        color: #212529;
    }

    .card-title-yellow{
        color: #ffc600;
    }