/* div{
    background-color: #333333;
} */

.navbar > .container-fluid{
    padding-right: calc(var(--bs-gutter-x));
    padding-left: calc(var(--bs-gutter-x));
}
#navbarNav{
    padding-right: calc(var(--bs-gutter-x));
    padding-left: calc(var(--bs-gutter-x));
}

.navbar-nav .nav-item a{
    font-size: 22px;
}

.slider-video{
    background-color: rgb(0, 63, 118);
    width: 100vw;
    height: 100vh;
    position: fixed;
}